.Wrapper {
    .logo {
        float: left;
        width: 120px;
        height: 31px;
        margin: 16px 24px 16px 0;
        background: rgba(255, 255, 255, 0.3);
      }
      .ant-row-rtl .logo {
        float: right;
        margin: 16px 0 16px 24px;
      }
      .main-card {
        padding: 10px;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #b8b8b8;
      }
}